.customScroll{
  width: 100%;
  background-color: antiquewhite;
  color: #000000;
  border: 1px solid red;
}

.scrolls{
  height: 20px;
  width: 100%;
  background-color: aquamarine;
  position: sticky;
  top: 0;
}

.scroll{
  width: 20px;
  background-color: #000000;
  height: 20px;
}